# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environnement Virtuel
.env
.venv
env/
venv/
ENV/

# Frontend (Node)
node_modules/
dist/
.npm

# Données (Ne pas commiter les gros fichiers)
data/raw/*
!data/raw/.gitkeep
data/processed/text/*
!data/processed/text/.gitkeep
data/processed/json/*
!data/processed/json/.gitkeep
data/samples/*
!data/samples/.gitkeep

# Modèles ML
ml/models/*.pkl
ml/models/*.joblib
!ml/models/.gitkeep

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
